<h3>Welcome User</h3>

<div class="container">         
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Email</th>
        <th>Created Date</th>
        <th>End Date</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let userDetail of usersDetails">
        <td>{{userDetail.userid}}</td>
        <td>{{userDetail.name | titlecase}}</td>
        <td>{{userDetail.email}}</td>
        <td>{{userDetail.createdDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{userDetail.endDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{userDetail.isActive ? 1:0}}</td>
      </tr>
    </tbody>
  </table>
</div>